/* Colors: */
/* Font/text values */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "muli", sans-serif;
  background: black;
  color: #778281;
  font-size: 1.1rem;
  font-weight: 400px;
  letter-spacing: 0.8px;
}

.clearfix {
  zoom: 1;
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

.main-menu {
  position: fixed;
  width: 100%;
  padding: 20px 0;
  padding-top: 30px;
}

.main-menu .logo {
  height: 45px;
  margin-left: 30px;
}

.main-menu .content {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu a {
  text-decoration: none;
  color: #ffffff;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  font-family: "muli", sans-serif;
  padding: 0 30px;
  font-size: 1.1rem;
  line-height: 18px;
  color: #778281;
  cursor: pointer;
}

.hero {
  background: url("https://lh3.googleusercontent.com/-ooXP_C97WoDSm1BbUei_IMYsxSUb3uwH8KZZA7FmMquLSZLQ5BCILlxIInw8Tfuy4yYdzBCpN6tlIzZhV7QbWiI1HxclXQhBpRZY-9MXxgnD95U7m9Z_XeBxeR9-IoD92uDFddT_4aKhh0CSPkxYQdZb-7chlE1uqLlZe_fiofJ9Ttpm1lUqet6hDf9-KR0oeWNDJK5CG3C4884n8Wgm7jF91NuuSRSMOLSkN7j1u4LApoTwNLErr49tvXx_X0g9nKQEXpJKI9Dv_MszbLXvgLkbRauJl-_UNz0IMqkUu1MsaNNixOfCRDA9XqirbWIHtULeY266PdkARHfChCDEeS5Ok3TA_JSEySiajj9bOhbVanHh6vwjzbmI2oxIYwm-5AFCZ59u25i2UjjCT5d0bnuaLUI6o21Z1x-3JX0AMddVPoUKBgxvKVhHGeyKbSmpXK3aqMPwy8IW3FxFK4YN9FXh7EBKhAxHlDTnCOQhgU0TYjIok_dw1XP_6NV8hFiIkqnJ8Yn9ZDB5LZmzM887oGf9SjbONOqumm1NOBgIo8CiOip8v5dj8nAlhRZ2f9wk-U5fBSc_-TL0p_ivEtuvlwyu4-LLuGvseEXwRJpuFhemi_dlc2ogXJ3-MOHoVB8aRUpJ_DsraNTULErx5hrMRUDeNesM9rPYR1MGNhVwB_FANVIzedRMETDZ9LVNQ=w1018-h1356-no?authuser=0") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "muli", sans-serif;
}

.hero-content {
  text-align: left;
  margin: 0px 30px;
}

.hero-content h1 {
  color: #ffffff;
  font-size: 3.4rem;
  line-height: 4.563rem;
  max-width: 900px;
  padding: 0px 0px;
}

@media screen and (max-width: 426px) {
  .hero-content h1 {
    font-size: 45px;
    line-height: 60px;
    padding: 0px 0px;
  }
}

.hero input {
  border-radius: 50px;
  border: none;
  padding: 20px;
  font-family: "muli", sans-serif;
  width: 100%;
  max-width: 545px;
  margin-top: 30px;
  outline: none;
}

.section-title {
  text-align: center;
  margin: 5.5rem 1.5rem 3rem 1.5rem;
}

.section-title h1 {
  font-size: 3.4rem;
  line-height: 4.563rem;
}

@media screen and (max-width: 426px) {
  .section-title h1 {
    font-size: 2.813rem;
    line-height: 3.75rem;
  }
}

.section-products {
  margin: auto;
  text-align: center;
}

.section-center {
  margin: auto;
  max-width: 1040px;
}

.section-location {
  text-align: center;
}

.copyright {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 40px;
  text-align: center;
  font-size: 0.875rem;
  color: #ffffff;
  background-color: #428584;
}

.img-fluid {
  max-width: 100%;
  padding-top: 2rem;
}
/*# sourceMappingURL=style.css.map */