/* Colors: */
/* Font/text values */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "muli", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d021c), to(#060F1F));
  background: linear-gradient(to bottom, #0d021c, #060F1F);
  color: #a39ead;
  font-size: 1rem;
  font-weight: 400px;
  letter-spacing: 3.5px;
}

.clearfix {
  zoom: 1;
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

header {
  position: absolute;
}

.main-menu {
  margin-bottom: -100px;
  width: 100%;
  padding-top: 30px;
}

.main-menu .logo {
  height: 45px;
  margin-left: 30px;
}

.main-menu .content {
  float: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0px auto;
}

.main-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-menu a {
  text-decoration: none;
  color: #a39ead;
}

.main-menu li {
  list-style: none;
  display: inline-block;
  font-family: "muli", sans-serif;
  padding-right: 30px;
  font-size: 1rem;
  line-height: 18px;
  color: #0d021c;
  cursor: pointer;
}

.hero {
  background: url("../img/IMG_0420.jpg") center no-repeat;
  background-size: cover;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  font-family: "muli", sans-serif;
}

.hero-content {
  text-align: left;
  margin: 0px 30px;
}

.hero-content h1 {
  color: white;
  font-size: 30px;
  line-height: 35px;
  font-weight: 800;
}

@media screen and (max-width: 426px) {
  .hero-content h1 {
    font-size: 22px;
    line-height: 27px;
    padding: 0px 0px;
  }
}

@media screen and (min-width: 1000px) {
  .hero-content h1 {
    font-size: 40px;
    line-height: 44px;
    padding: 0px 0px;
  }
}

.section-title {
  text-align: center;
  margin: 3rem 1rem 2rem 1rem;
}

.section-title h2 {
  font-size: 2.2rem;
  font-weight: 800;
  color: #a39ead;
  display: inline-block;
}

@media screen and (max-width: 426px) {
  .section-title h2 {
    font-size: 1.5rem;
    font-weight: 800;
  }
}

.popup {
  width: 55%;
  margin: auto;
  position: relative;
  padding: 30px;
}

.image {
  text-align: center;
}

.about {
  width: 80%;
  border-radius: 0.5rem;
}

.about-text h3 {
  text-align: center;
  font-size: 1.2rem;
  line-height: 15px;
}

.img-fluid {
  width: 100%;
  padding-top: 2rem;
}

.wrap-phots {
  overflow: hidden;
}

.copyright {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 2.2px;
  color: #a39ead;
}
/*# sourceMappingURL=style.css.map */