@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: $muli;
  background: -moz-linear-gradient(top, #0d021c, #120922);
  background: -webkit-linear-gradient(top, #0d021c, #120922);
  background: linear-gradient(to bottom, #0d021c, #120922);
  color: $white-color;
  font-size: 1rem;
  font-weight: $font-weight-400;
  letter-spacing: $character-spacing;
}

.clearfix {
  zoom: 1;
  content: " ";
  clear: both;
  display: block;
  height: 0;
}

header{
  position: absolute;
}

.main-menu {
  margin-bottom: -100px;
  width: 100%;
  padding-top: 30px;
  .logo {
    height: 45px;
    margin-left: 30px;
  }
  .content {
    float: none;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
  }
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  a {
    text-decoration: none;
    color: $white-color; 
  }
  li {
    list-style: none;
    display: inline-block;
    font-family: $muli;
    padding-right: 30px;
    font-size: 1rem;
    line-height: 18px;
    color:$primary-color-1;
    cursor: pointer;
  }
}

// hero
.hero {
  background: url('../img/IMG_0420.jpg') center no-repeat;
  background-size: cover;
  height: 100vh;
  display: flex; 
  justify-content: center;
  align-items: left;
  flex-flow: column;
  font-family: $muli;
  &-content {
    text-align: left;
    margin: 0px 30px;
    h1 {
      color:white;
      font-size: 30px;
      line-height: 35px;
      font-weight: 800;
    }
    @media screen and (max-width: 426px) {
      h1 { 
        font-size: 22px;
        line-height: 27px;
        padding: 0px 0px;
      }
    }
    @media screen and (min-width: 1000px) {
      h1 { 
        font-size: 40px;
        line-height: 44px;
        padding: 0px 0px;
      }
    }
  }
}

.section {
  &-title {
    text-align: center;
    margin: 3rem 1rem 2rem 1rem;
    h2 { 
      font-size: $h2;
      font-weight: 800;
      color:$white-color;
      display: inline-block;
    }
    @media screen and (max-width: 426px) {
    h2 { 
        font-size: 1.5rem;
        font-weight: 800;
      }
    }
  }
}

.popup {
  width: 55%;
  margin: auto;
  position: relative;
}
.image {
  text-align: center;
}
.about {
  width: 80%;
  border-radius: 0.5rem;
}
.about-text {
  h3 {
  text-align: center;
  font-size: $h3;
  line-height: 15px;
  }
}
.mfp-close-btn-in .mfp-close {
  color: $white-color; 
}

.img-fluid {
  width: 100%;
  padding-top: 2rem;
}

.wrap-phots {
  overflow: hidden;
}

.copyright {
  padding-bottom: 10px;
  margin-top: 20px;
  text-align: center;
  font-size: 0.7rem;
  letter-spacing: 2.2px;
  color: $white-color;
}







