/* Colors: */
$primary-color-A: #428584;
$primary-color-B: #7A8435;
$secondary-color: #FEC33C;
$text-color: #778281;
$white-color: #ffffff;
$background-color: #fafcfc;

/* Font/text values */
$muli: "muli",sans-serif;
$font-style-normal: normal;
$font-weight-400: 400px;
$font-weight-bold: bold;
$font-weight-700: 400px;
$font-size-55: 3.4rem;
$font-size-42: 2.6rem;
$font-size-18: 1.1rem;
$character-spacing: 0.8px;
$line-height-h1-h3: 4.563rem;

$font-size-46-sp: 2.875rem;
$line-height-46-sp: 4.563rem;
