/* Colors: */
$primary-color-1: #0d021c;
$white-color: #a39ead;

/* Font/text values */
$muli: "muli",sans-serif;
$font-style-normal: normal;
$font-weight-400: 400px;
$font-weight-bold: bold;
$font-weight-700: 400px;
$h1: 3.8rem;
$h2: 2.2rem;
$h3: 1.2rem;
$character-spacing: 3.5px;
$line-height-h1: 65.5px;

